# Entorno virtual
venv/
.env/

# Archivos del sistema
__pycache__/
*.py[cod]
*.sqlite3
*.db

# Archivos temporales
*.log
*.bak
*.tmp

# Configuraciones de IDE
.vscode/
.idea/
*.swp

# Archivos de test o caché
.coverage
htmlcov/
*.egg-info/
